@model CinemaRoomEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CinemaRoom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.Capacity" class="control-label"></label>
                <input asp-for="Room.Capacity" class="form-control" />
                <span asp-validation-for="Room.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.CurrentScreeningId" class="control-label"></label>
                <select asp-for="Room.CurrentScreeningId" class="form-control" >
                    <option >---</option>
                    @foreach (var screening in Model.Screenings)
                    {
                        <option value="@screening.Id">@screening.Movie.Title</option>
                    }
                </select>
                <span asp-validation-for="Room.CurrentScreeningId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
